В этом домашнем задании вы будете решать задачу предсказания стоимости автомобилей по их различным характеристикам.

In [ ]:
import pandas as pd

RANDOM_STATE = 42

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/evgpat/edu_stepik_practical_ml/main/datasets/cars_prices.csv", decimal='.')

df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [ ]:
df.shape

(205, 26)

In [ ]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

## 1. Заполнение пропусков

Пропуски в этом датасете обозначены как `?`

In [ ]:
for c in df.columns:
    print(c, len(df[df[c] == '?']))

symboling 0
normalized-losses 41
make 0
fuel-type 0
aspiration 0
num-of-doors 2
body-style 0
drive-wheels 0
engine-location 0
wheel-base 0
length 0
width 0
height 0
curb-weight 0
engine-type 0
num-of-cylinders 0
engine-size 0
fuel-system 0
bore 4
stroke 4
compression-ratio 0
horsepower 2
peak-rpm 2
city-mpg 0
highway-mpg 0
price 4

Удалите строки, для которых неизвестно значение price, так как это целевая переменная.

## Вопрос для Quiz 

Сколько строк осталось в данных?

In [ ]:
df = df[df['price'] != '?']

In [ ]:
df.shape[0]

201

Заполните средним значением пропуски в столбцах для числовых признаков и самым популярным значением для категориальных признаков
* `num-of-doors`
* `bore`
* `stroke`
* `horsepower`
* `peak-rpm`

In [ ]:
df['num-of-doors'].value_counts()

four    113
two      86
?         2
Name: num-of-doors, dtype: int64

In [ ]:
df['num-of-doors'] = df['num-of-doors'].map({'four': 'four', 'two': 'two', '?': 'four'})

In [ ]:
df['num-of-doors'].value_counts()

four    115
two      86
Name: num-of-doors, dtype: int64

In [ ]:
df['bore'][df['bore'] != '?'] = df['bore'][df['bore'] != '?'].astype(float)

<ipython-input-134-5d35ae5862a1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['bore'][df['bore'] != '?'] = df['bore'][df['bore'] != '?'].astype(float)

In [ ]:
df['bore'][df['bore'] != '?'].mean()

3.3307106598984775

In [ ]:
df['bore'][df['bore'] == '?'] = df['bore'][df['bore'] != '?'].mean()

<ipython-input-136-93ebf04c1158>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['bore'][df['bore'] == '?'] = df['bore'][df['bore'] != '?'].mean()

In [ ]:
df['bore'] = df['bore'].astype(float)

In [ ]:
df['stroke'][df['stroke'] != '?'] = df['stroke'][df['stroke'] != '?'].astype(float)

<ipython-input-139-2c78bd2051ff>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['stroke'][df['stroke'] != '?'] = df['stroke'][df['stroke'] != '?'].astype(float)

In [ ]:
df['stroke'][df['stroke'] != '?'].mean()

3.2569035532994857

In [ ]:
df['stroke'][df['stroke'] == '?'] = df['stroke'][df['stroke'] != '?'].mean()

<ipython-input-141-04903aef7760>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['stroke'][df['stroke'] == '?'] = df['stroke'][df['stroke'] != '?'].mean()

In [ ]:
df['stroke'] = df['stroke'].astype(float)

In [ ]:
df['horsepower'][df['horsepower'] != '?'] = df['horsepower'][df['horsepower'] != '?'].astype('int64')

<ipython-input-151-501707ba5dcd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['horsepower'][df['horsepower'] != '?'] = df['horsepower'][df['horsepower'] != '?'].astype('int64')

In [ ]:
df['horsepower'][df['horsepower'] == '?'] = df['horsepower'][df['horsepower'] != '?'].mean()

<ipython-input-154-fd6b9dba82e5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['horsepower'][df['horsepower'] == '?'] = df['horsepower'][df['horsepower'] != '?'].mean()

In [ ]:
df['horsepower'] = df['horsepower'].astype('int64')

In [ ]:
df['peak-rpm'][df['peak-rpm'] != '?'] = df['peak-rpm'][df['peak-rpm'] != '?'].astype('int64')

<ipython-input-160-f1be81566d74>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['peak-rpm'][df['peak-rpm'] != '?'] = df['peak-rpm'][df['peak-rpm'] != '?'].astype('int64')

In [ ]:
df['peak-rpm'][df['peak-rpm'] != '?'].mean()

5117.587939698493

In [ ]:
df['peak-rpm'][df['peak-rpm'] == '?'] = df['peak-rpm'][df['peak-rpm'] != '?'].mean()

<ipython-input-162-6544b0b564cd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['peak-rpm'][df['peak-rpm'] == '?'] = df['peak-rpm'][df['peak-rpm'] != '?'].mean()

In [ ]:
df['peak-rpm'] = df['peak-rpm'].astype('int64')

## Вопрос для Quiz 

Чему равно среднее значение `peak-rpm` до заполнения пропусков? Ответ округлите до целого числа.

Пропуски в столбце `normalized-losses` предскажите при помощи линейной регрессии по признакам
`symboling`, `wheel-base`, `length`, `width`, `height`, `curb-weight`, `engine-size`, `compression-ratio`, `city-mpg`, `highway-mpg` и заполните их предсказаниями

In [ ]:
from sklearn.linear_model import LinearRegression

dataframe = df[['symboling', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-size', 'compression-ratio', 'city-mpg', 'highway-mpg', 'normalized-losses']]

In [ ]:
train = dataframe[dataframe['normalized-losses'] != '?']

In [ ]:
Xtrain, ytrain = train.iloc[:,:-1], train.iloc[:,-1]

In [ ]:
test = dataframe[dataframe['normalized-losses'] == '?']

In [ ]:
test.shape

(37, 11)

In [ ]:
Xtest, ytest = test.iloc[:,:-1], test.iloc[:,-1]

In [ ]:
model = LinearRegression().fit(Xtrain, ytrain)

In [ ]:
ypred = model.predict(Xtest)

In [ ]:
ypred

array([168.07249262, 168.07249262, 134.0017988 , 150.03347669,
       124.36459916, 136.54127678, 127.28771126, 138.09039231,
       130.51306948, 113.6478041 , 155.82813541, 175.60424066,
       166.04457052,  88.0845543 , 122.53305095, 127.5822689 ,
       161.54047049, 154.33123955, 132.97923436, 178.13829126,
       179.87212963, 179.97064318, 131.27495017, 119.95762868,
       144.30448909, 121.04127767, 177.84275063, 157.63816248,
       157.63816248, 158.50508167,  98.29098277, 154.71344201,
       121.38477454, 137.06488059, 108.12442301,  94.62530543,
       106.22799742])

In [ ]:
indices = test.index.to_numpy()

In [ ]:
indices

array([  0,   1,   2,   5,   7,  14,  15,  16,  17,  43,  46,  48,  49,
        63,  66,  71,  73,  74,  75,  82,  83,  84, 109, 110, 113, 114,
       124, 126, 127, 128, 130, 131, 181, 189, 191, 192, 193])

In [ ]:
df.loc[indices, 'normalized-losses'] = ypred

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,0,1,0,convertible,rwd,1,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,0,1,0,convertible,rwd,1,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,0,1,0,hatchback,rwd,1,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,0,1,1,sedan,fwd,1,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,0,1,1,sedan,4wd,1,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,0,1,1,sedan,rwd,1,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,0,0,1,sedan,rwd,1,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,0,1,1,sedan,rwd,1,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,1,0,1,sedan,rwd,1,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,0,0,1,sedan,rwd,1,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

## Вопрос для Quiz

Чему равно предсказание линейной регрессии на первом пропущенном значении? Ответ округлите до целого числа.

In [ ]:
ypred[0]

168.07249261651435

## 2. Кодирование категориальных признаков

1. Закодируйте бинарные признаки `fuel-type`, `aspiration`, `num-of-doors`, `engine-location` каждый отдельной колонкой, состоящей из 0 и 1.
Единицей кодируйте самую частую категорию.

In [ ]:
df['fuel-type'].value_counts()

gas       181
diesel     20
Name: fuel-type, dtype: int64

In [ ]:
df['fuel-type'] = df['fuel-type'].map({'diesel': 1, 'gas': 0})

In [ ]:
df['aspiration'].value_counts()

std      165
turbo     36
Name: aspiration, dtype: int64

In [ ]:
df['aspiration'] = df['aspiration'].map({'std': 1, 'turbo': 0})

In [ ]:
df['num-of-doors'].value_counts()

four    115
two      86
Name: num-of-doors, dtype: int64

In [ ]:
df['num-of-doors'] = df['num-of-doors'].map({'four': 1, 'two': 0})

In [ ]:
df['engine-location'].value_counts()

front    198
rear       3
Name: engine-location, dtype: int64

In [ ]:
df['engine-location'] = df['engine-location'].map({'front': 1, 'rear': 0})

In [ ]:
df.loc[indices, 'normalized-losses'] = ypred

In [ ]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,168.072493,alfa-romero,0,1,0,convertible,rwd,1,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168.072493,alfa-romero,0,1,0,convertible,rwd,1,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,134.001799,alfa-romero,0,1,0,hatchback,rwd,1,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,0,1,1,sedan,fwd,1,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,0,1,1,sedan,4wd,1,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,0,1,1,sedan,rwd,1,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,0,0,1,sedan,rwd,1,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,0,1,1,sedan,rwd,1,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,1,0,1,sedan,rwd,1,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,0,0,1,sedan,rwd,1,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

2. Вынесите в переменную `y` целевую переменную `price`, а все остальные колонки - в матрицу `X`.

Закодируйте признаки `make`, `body-style`, `engine-type`, `fuel-system` при помощи LeaveOneOutEncoder.

**Дальше все время работайте с объектами `X`, `y`.**

In [ ]:
y = df['price']

In [ ]:
X = df.drop('price', axis=1, inplace=True)

In [ ]:
X = df.copy()

In [ ]:
X

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg
0,3,168.072493,alfa-romero,0,1,0,convertible,rwd,1,88.6,...,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27
1,3,168.072493,alfa-romero,0,1,0,convertible,rwd,1,88.6,...,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27
2,1,134.001799,alfa-romero,0,1,0,hatchback,rwd,1,94.5,...,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26
3,2,164,audi,0,1,1,sedan,fwd,1,99.8,...,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30
4,2,164,audi,0,1,1,sedan,4wd,1,99.4,...,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,0,1,1,sedan,rwd,1,109.1,...,four,141,mpfi,3.78,3.15,9.5,114,5400,23,28
201,-1,95,volvo,0,0,1,sedan,rwd,1,109.1,...,four,141,mpfi,3.78,3.15,8.7,160,5300,19,25
202,-1,95,volvo,0,1,1,sedan,rwd,1,109.1,...,six,173,mpfi,3.58,2.87,8.8,134,5500,18,23
203,-1,95,volvo,1,0,1,sedan,rwd,1,109.1,...,six,145,idi,3.01,3.40,23.0,106,4800,26,27
204,-1,95,volvo,0,0,1,sedan,rwd,1,109.1,...,four,141,mpfi,3.78,3.15,9.5,114,5400,19,25

In [ ]:
!pip install category_encoders -q

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.2/81.2 KB 7.9 MB/s eta 0:00:00

In [ ]:
X['make']

0      alfa-romero
1      alfa-romero
2      alfa-romero
3             audi
4             audi
          ...
200          volvo
201          volvo
202          volvo
203          volvo
204          volvo
Name: make, Length: 201, dtype: object

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg
0,3,168.072493,alfa-romero,0,1,0,convertible,rwd,1,88.6,...,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27
1,3,168.072493,alfa-romero,0,1,0,convertible,rwd,1,88.6,...,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27
2,1,134.001799,alfa-romero,0,1,0,hatchback,rwd,1,94.5,...,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26
3,2,164,audi,0,1,1,sedan,fwd,1,99.8,...,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30
4,2,164,audi,0,1,1,sedan,4wd,1,99.4,...,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,0,1,1,sedan,rwd,1,109.1,...,four,141,mpfi,3.78,3.15,9.5,114,5400,23,28
201,-1,95,volvo,0,0,1,sedan,rwd,1,109.1,...,four,141,mpfi,3.78,3.15,8.7,160,5300,19,25
202,-1,95,volvo,0,1,1,sedan,rwd,1,109.1,...,six,173,mpfi,3.58,2.87,8.8,134,5500,18,23
203,-1,95,volvo,1,0,1,sedan,rwd,1,109.1,...,six,145,idi,3.01,3.40,23.0,106,4800,26,27
204,-1,95,volvo,0,0,1,sedan,rwd,1,109.1,...,four,141,mpfi,3.78,3.15,9.5,114,5400,19,25

In [ ]:
from category_encoders.leave_one_out import LeaveOneOutEncoder

loo_enc = LeaveOneOutEncoder(cols=['make', 'body-style', 'engine-type', 'fuel-system'])

loo_enc.fit_transform(X,y)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg
0,3,168.072493,16500.0,0,1,0,23569.600000,rwd,1,88.6,...,four,130,17650.307692,3.47,2.68,9.0,111,5000,21,27
1,3,168.072493,14997.5,0,1,0,22968.600000,rwd,1,88.6,...,four,130,17617.285714,3.47,2.68,9.0,111,5000,21,27
2,1,134.001799,14997.5,0,1,0,9859.791045,rwd,1,94.5,...,six,152,17617.285714,2.68,3.47,9.0,154,5000,19,26
3,2,164,18641.0,0,1,1,14465.236559,fwd,1,99.8,...,four,109,17645.307692,3.19,3.40,10.0,102,5500,24,30
4,2,164,17941.0,0,1,1,14427.602151,4wd,1,99.4,...,five,136,17606.846154,3.19,3.40,8.0,115,5500,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,18185.0,0,1,1,14434.107527,rwd,1,109.1,...,four,141,17613.494505,3.78,3.15,9.5,114,5400,23,28
201,-1,95,17965.0,0,0,1,14410.451613,rwd,1,109.1,...,four,141,17589.318681,3.78,3.15,8.7,160,5300,19,25
202,-1,95,17721.0,0,1,1,14384.215054,rwd,1,109.1,...,six,173,17562.505495,3.58,2.87,8.8,134,5500,18,23
203,-1,95,17622.5,1,0,1,14373.623656,rwd,1,109.1,...,six,145,15489.105263,3.01,3.40,23.0,106,4800,26,27
204,-1,95,17607.0,0,0,1,14371.956989,rwd,1,109.1,...,four,141,17549.978022,3.78,3.15,9.5,114,5400,19,25

In [ ]:
X_new = loo_enc.fit_transform(X,y)

In [ ]:
X_new

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg
0,3,168.072493,16500.0,0,1,0,23569.600000,rwd,1,88.6,...,four,130,17650.307692,3.47,2.68,9.0,111,5000,21,27
1,3,168.072493,14997.5,0,1,0,22968.600000,rwd,1,88.6,...,four,130,17617.285714,3.47,2.68,9.0,111,5000,21,27
2,1,134.001799,14997.5,0,1,0,9859.791045,rwd,1,94.5,...,six,152,17617.285714,2.68,3.47,9.0,154,5000,19,26
3,2,164,18641.0,0,1,1,14465.236559,fwd,1,99.8,...,four,109,17645.307692,3.19,3.40,10.0,102,5500,24,30
4,2,164,17941.0,0,1,1,14427.602151,4wd,1,99.4,...,five,136,17606.846154,3.19,3.40,8.0,115,5500,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,18185.0,0,1,1,14434.107527,rwd,1,109.1,...,four,141,17613.494505,3.78,3.15,9.5,114,5400,23,28
201,-1,95,17965.0,0,0,1,14410.451613,rwd,1,109.1,...,four,141,17589.318681,3.78,3.15,8.7,160,5300,19,25
202,-1,95,17721.0,0,1,1,14384.215054,rwd,1,109.1,...,six,173,17562.505495,3.58,2.87,8.8,134,5500,18,23
203,-1,95,17622.5,1,0,1,14373.623656,rwd,1,109.1,...,six,145,15489.105263,3.01,3.40,23.0,106,4800,26,27
204,-1,95,17607.0,0,0,1,14371.956989,rwd,1,109.1,...,four,141,17549.978022,3.78,3.15,9.5,114,5400,19,25

In [ ]:
X_new['body-style'].mean()

13207.129353233831

## Вопрос для Quiz 

Чему равно среднее значение в столбце `body-style` после кодирования? Ответ округлите до целого числа.

3. Закодируйте признак `drive-wheels` при помощи OHE из библиотеки category_encoders.

In [ ]:
from category_encoders.one_hot import OneHotEncoder

ohe_enc = OneHotEncoder(cols=['drive-wheels'])

In [ ]:
X_new = ohe_enc.fit_transform(X_new, drop='first')

In [ ]:
X['drive-wheels'].value_counts()

fwd    118
rwd     75
4wd      8
Name: drive-wheels, dtype: int64

In [ ]:
ohe_enc = OneHotEncoder()
ohe_enc.fit_transform(X['drive-wheels'], drop='first')

     drive-wheels_1  drive-wheels_2  drive-wheels_3
0                 1               0               0
1                 1               0               0
2                 1               0               0
3                 0               1               0
4                 0               0               1
..              ...             ...             ...
200               1               0               0
201               1               0               0
202               1               0               0
203               1               0               0
204               1               0               0

[201 rows x 3 columns]

In [ ]:
X_new

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels_1,drive-wheels_2,drive-wheels_3,...,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg
0,3,168.072493,16500.0,0,1,0,23569.600000,1,0,0,...,four,130,17650.307692,3.47,2.68,9.0,111,5000,21,27
1,3,168.072493,14997.5,0,1,0,22968.600000,1,0,0,...,four,130,17617.285714,3.47,2.68,9.0,111,5000,21,27
2,1,134.001799,14997.5,0,1,0,9859.791045,1,0,0,...,six,152,17617.285714,2.68,3.47,9.0,154,5000,19,26
3,2,164,18641.0,0,1,1,14465.236559,0,1,0,...,four,109,17645.307692,3.19,3.40,10.0,102,5500,24,30
4,2,164,17941.0,0,1,1,14427.602151,0,0,1,...,five,136,17606.846154,3.19,3.40,8.0,115,5500,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,18185.0,0,1,1,14434.107527,1,0,0,...,four,141,17613.494505,3.78,3.15,9.5,114,5400,23,28
201,-1,95,17965.0,0,0,1,14410.451613,1,0,0,...,four,141,17589.318681,3.78,3.15,8.7,160,5300,19,25
202,-1,95,17721.0,0,1,1,14384.215054,1,0,0,...,six,173,17562.505495,3.58,2.87,8.8,134,5500,18,23
203,-1,95,17622.5,1,0,1,14373.623656,1,0,0,...,six,145,15489.105263,3.01,3.40,23.0,106,4800,26,27
204,-1,95,17607.0,0,0,1,14371.956989,1,0,0,...,four,141,17549.978022,3.78,3.15,9.5,114,5400,19,25

4. В столбце `num-of-cylinders` категории упорядочены по смыслу. Закодируйте их подряд идущими числами, начиная с 1, согласно смыслу.

In [ ]:
X_new['num-of-cylinders'].value_counts()

four      157
six        24
five       10
two         4
eight       4
three       1
twelve      1
Name: num-of-cylinders, dtype: int64

In [ ]:
X1 = X_new.copy()

In [ ]:
X1['num-of-cylinders'] = X1['num-of-cylinders'].map({'two': 1, 'three': 2, 'four': 3, 'five': 4, 'six': 5, 'eight': 6, 'twelve': 7})

In [ ]:
X1

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels_1,drive-wheels_2,drive-wheels_3,...,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg
0,3,168.072493,16500.0,0,1,0,23569.600000,1,0,0,...,3,130,17650.307692,3.47,2.68,9.0,111,5000,21,27
1,3,168.072493,14997.5,0,1,0,22968.600000,1,0,0,...,3,130,17617.285714,3.47,2.68,9.0,111,5000,21,27
2,1,134.001799,14997.5,0,1,0,9859.791045,1,0,0,...,5,152,17617.285714,2.68,3.47,9.0,154,5000,19,26
3,2,164,18641.0,0,1,1,14465.236559,0,1,0,...,3,109,17645.307692,3.19,3.40,10.0,102,5500,24,30
4,2,164,17941.0,0,1,1,14427.602151,0,0,1,...,4,136,17606.846154,3.19,3.40,8.0,115,5500,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,18185.0,0,1,1,14434.107527,1,0,0,...,3,141,17613.494505,3.78,3.15,9.5,114,5400,23,28
201,-1,95,17965.0,0,0,1,14410.451613,1,0,0,...,3,141,17589.318681,3.78,3.15,8.7,160,5300,19,25
202,-1,95,17721.0,0,1,1,14384.215054,1,0,0,...,5,173,17562.505495,3.58,2.87,8.8,134,5500,18,23
203,-1,95,17622.5,1,0,1,14373.623656,1,0,0,...,5,145,15489.105263,3.01,3.40,23.0,106,4800,26,27
204,-1,95,17607.0,0,0,1,14371.956989,1,0,0,...,3,141,17549.978022,3.78,3.15,9.5,114,5400,19,25

In [ ]:
X1['normalized-losses'] = X1['normalized-losses'].astype(float)
X1['bore'] = X1['bore'].astype(float)
X1['stroke'] = X1['stroke'].astype(float)
X1['horsepower'] = X1['horsepower'].astype(float)
X1['peak-rpm'] = X1['peak-rpm'].astype(float)

y = y.astype(float)

## Вопрос для Quiz 

Сколько столбцов получилось в матрице `X`?

In [ ]:
X['normalized-losses'] = X['normalized-losses'].astype(float)
X['bore'] = X['bore'].astype(float)
X['stroke'] = X['stroke'].astype(float)
X['horsepower'] = X['horsepower'].astype(float)
X['peak-rpm'] = X['peak-rpm'].astype(float)

y = y.astype(float)

Разбейте данные на тренировочную и тестовую часть в пропорции 3 к 1, зафиксируйте random_state = 42.

In [ ]:
from sklearn.model_selection import train_test_split 

X1train, X1test, y1train, y1test = train_test_split(X1, y, train_size=2/3, random_state=42)

Масштабируйте данные при помощи MinMaxScaler.

Обучайте масштабирование на тренировочных данных, а потом примените и к трейну, и к тесту.

In [ ]:
from sklearn.preprocessing import MinMaxScaler 

scaler = MinMaxScaler().fit(X1train, y1train)
X1train = scaler.transform(X1train)
X1test = scaler.transform(X1test)

Обучите на тренировочных данных линейную регрессию, сделайте предсказание на тесте и вычислите значение $R^2$ на тестовых данных.

In [ ]:
LR_model = LinearRegression().fit(X1train, y1train)

In [ ]:
y1_pred = LR_model.predict(X1test)

In [ ]:
from sklearn.metrics import r2_score
final_score = r2_score(y1test, y1_pred)

In [ ]:
final_score

0.9134399030373763

## Вопрос для Quiz 

Чему равно значение $R^2$ на тестовых данных? Ответ округлите до сотых.